/* css stylesheet for odin recipe webpage */

h1 {
    text-align: center;
    color: #F5BB47;
    margin-left: 30%;
    margin-right: 30%;
}

img {
    height: auto;
    width: 35%;
    display: block;
    margin-left: 30%;
    margin-right: auto;
}

h2 {
    margin-left: 5%;
}

ul {
    margin-left: 4%;
}